* { box-sizing: border-box; }

body {
  background-color: #120214;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

#digital-clock {
  position: absolute;
  padding: 8px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #120214;
  border-radius: 12px;
  box-shadow: 0 0 64px #0890ff, 0 0 18px #0890ff;
  text-shadow: 0 0 12px #0890ff;
  font-size: 64px;
}

@media only screen and (max-width: 768px) {
  .wrapper { width: 100%; }
  #digital-clock { font-size: 32px; }
}